<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstTask">
        <activity
            android:name="com.example.second_task.ui.screens.Authorization"
            android:exported="false"
            android:label="@string/title_activity_authorization"
            android:theme="@style/Theme.FirstTask" />
        <activity
            android:name="com.example.second_task.ui.screens.ViewBerlinDescription"
            android:exported="false"
            android:label="@string/title_activity_view_berlin_description"
            android:theme="@style/Theme.FirstTask" />
        <activity
            android:name=".ui.screens.ViewComposablesDescription"
            android:exported="false"
            android:label="@string/title_activity_view_composables_description"
            android:theme="@style/Theme.FirstTask" />
        <activity
            android:name=".ui.screens.ViewTasksCompletedOutro"
            android:exported="false"
            android:label="@string/title_activity_view_tasks_completed_outro"
            android:theme="@style/Theme.FirstTask" />
        <activity
            android:name=".ui.screens.ViewJetpackTutorial"
            android:exported="false"
            android:label="@string/title_activity_view_jetpack_tutorial"
            android:theme="@style/Theme.FirstTask" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>